<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>资讯动态</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/swiper.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7a68950496ade659972d51aaea195857";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

    </script>
</head>

<body style="">
    <div id="News" style="height: 100%;-webkit-overflow-scrolling:touch;  overflow-x: hidden;">
        <div>
            <div class="mw-container">
                <div id="hd">
                    <div class="clearfix">
                        <a href="index.html" class="hd-logo fl">
                            <img src="images/logo.png">
                        </a>
                        <a href="javascript:;" class="nav-btn fr"></a>
                        <div class="hd-nav fr">
                            <a href="javascript:;" class="nav-close"></a>
                            <ul class="clearfix">
                                <li><a href="company.html">企业介绍</a></li>
                                <li class="on"><a href="news.html">资讯动态</a></li>
                                <li><a href="jobs.html">招聘信息</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mw-bannernewsbg">
            <div class="mw-container" style="display: table;">
                <!--banner文字--->
                <div class="td-center">
                    <div class="newsbanner-text">
                        <div class="en">{{ topNews.date.replace(/-/g, '.') }}</div>
                        <div class="cn" v-html="filterTitle(topNews.title)"></div>
                        <a :href="'news-content.html?type='+topNews.type+'&id='+topNews.id" class="news-top-more" target="_blank">
                            <span class="more-hard"></span>
                            <span class="more-text">了解更多 </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mw-bannerimg" style="animation:none;" :style="{ backgroundImage: 'url('+perfixImg(topNews.banner)+')' }"></div>
        </div>
        <div id="main" class="mw-container" style="height:auto;">
            <div class="title-box">
                <div class="top-list">
                    <a v-for="(item, index) in newsType" :key="index" :class="{'active':item.newstype == defaultType}" :href="'?type=' + item.newstype">{{item.newstypename}}</a>
                </div>
            </div>
            <div class="news-list-main">
                <div v-for="(item, index) in newsList" :key="index" class="listbox">
                    <a :href="'news-content.html?type='+item.newstype+'&id='+item.newsid" target="_blank">
                        <div class="pic" :style="{ backgroundImage: 'url('+perfixImg(item.newspic)+')' }"></div>
                        <div class="textbox">
                            <div class="name">
                                {{filterTitleList(item.newstitle)}}
                            </div>
                            <div class="time">
                                {{item.newscreattime}}
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="swiper-slide swiper-slide-footer">
            <div style="width: 100%; height: 100%; background-color: #333; color: #fff;">
                <div id="ft">
                    <div class="wp">
                        <div class=" clearfix">
                            <a href="index.html" class="ft-logo fl">
                                <img src="images/logo.png">
                            </a>
                            <ul class="ft-item ft-nav">
                                <li>
                                    <a href="company.html">企业介绍</a>
                                </li>
                                <li>
                                    <a href="news.html">资讯动态</a>
                                </li>
                                <li>
                                    <a href="jobs.html">招聘信息</a>
                                </li>
                                <li>
                                    <a href="contact.html">联系我们 </a>
                                </li>
                            </ul>
                            <div class="ft-item ft-contact">
                                <p>Email：service@gac-nio.com</p>
                            </div>
                            <div class="ft-item ft-link clearfix">
                                <div class="wechat share-btn">
                                    <a href="#"><img src="images/icon1.png"></a>
                                    <div class="erweima">
                                        <img src="images/erweima.jpg">
                                    </div>
                                </div>
                                <a href="https://weibo.com/u/6563374966" target="_blank" class="share-btn">
                                    <img src="images/icon3.png">
                                </a>
                            </div>
                        </div>
                        <div class="copyright">Copyright © 2018 , Guangqiweilai All Rights Reserved 粤ICP备18123237号</div>
                    </div>
                </div>
                <div class="filter-bg erweima-box">
                    <div class="erweima-popup">
                        <img src="images/erweima2.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
        var News = new Vue({
            el: '#News',
            data: {
                topNews: {
                    title: '',
                    date: '',
                    digest: '',
                    id: 0,
                    type: 0,
                    banner: ''
                },
                newsType: [],
                defaultType: 1,
                newsList: [],
            },
            created: function() {
                var newsType = getQueryString('type');
                if (!newsType) {
                    this.defaultType = 1
                } else {
                    this.defaultType = newsType
                }
                var the = this
                $.ajax({
                    url: 'http://139.159.238.100/infor/infor.json?ptype=1&newstype=' + the.defaultType,
                    success: function(response) {
                        if (response.result_code == 1) {
                            the.newsType = response.newstype
                        }
                    }
                });
                $.ajax({
                    url: 'http://139.159.238.100/infor/news.json?ptype=2&newstype=' + the.defaultType,
                    success: function(response) {
                        if (response.result_code == 1) {
                            if (response.news.length > 0) {
                                the.newsList = response.news
                            }
                        }
                    }
                });
                $.ajax({
                    url: 'http://139.159.238.100/infor/news.json?ptype=2&top=1&newstype=' + this.defaultType,
                    success: function(response) {
                        if (response.result_code == 1) {
                            if (response.news.length > 0) {
                                the.topNews.title = response.news[0].newstitle;
                                the.topNews.date = response.news[0].newscreattime;
                                the.topNews.digest = response.news[0].newsdigest;
                                the.topNews.id = response.news[0].newsid;
                                the.topNews.type = response.news[0].newstype;
                                the.topNews.banner = response.news[0].newsbanner;
                            }
                        }
                    }
                });
            },
            methods: {
                perfixImg: function(url) {
                    return 'http://139.159.238.100/uploads/' + url;
                },
                filterTitle: function(str) {
                    return str.replace(/\*/g, '<br>');
                },
                filterTitleList: function(str) {
                    return str.replace(/\*/g, '');
                }
            }
        })

    </script>


</body>





</html>
